SUPABASE_URL =https://wsgwhdbimgdepfxktxlo.supabase.co
SUPABASE_KEY =eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndzZ3doZGJpbWdkZXBmeGt0eGxvIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTQ2NTcxMDgsImV4cCI6MjAxMDIzMzEwOH0.65WoFiWgdcvyaWKlYURn1Q_mMyiGnXtdPIUjNi8Wmsw